
.category-auctions {
  padding: 3rem 1rem; 
}


.category-auctions h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem; 
  color: #fff;
}


.category-auctions-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 2.5rem; 
  padding: 0 1rem;
  justify-content: center;
}

/* Tablet */
@media (max-width: 1024px) {
  .category-auctions-grid {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}


@media (max-width: 768px) {
  .category-auctions-grid {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  .category-auctions h2 {
    margin-bottom: 1.5rem;
  }
}


@media (max-width: 480px) {
  .category-auctions-grid {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .category-auctions h2 {
    margin-bottom: 1.2rem;
  }
}